.extra-card {
    width: 100%;
    height: 100%;
    min-height: 200px;
    background: white;
}

.extra-card-wide {
    width: 100%;
    height: 100%;
    min-height: 200px;
    background: white;
}

#pmChart {
    width: 100% !important;
    height: 100%;
}

@media (max-width: 768px) {
    .extra-card-wide {
        min-height: 180px;
    }

    #pmChart {
        height: 180px !important;
    }

    /* Adjust chart position in mobile */
    .extra-card-wide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 